<!DOCTYPE html>
<html>
  <head>
    <title>Taskette's Home</title>
    <script src="/jquery.js"></script>
    <!-- <link rel="stylesheet" href="/style.css"> -->
  </head>
  <body>
    <h1>Taskette - 看版酱 ✨</h1>
    <p>
      <% @tasks.all %>
    </p>
  </body>
</html>
