<!DOCTYPE html>
<html>
  <head>
    <title>Taskette's Home</title>
    <script src="/jquery.js"></script>
    <!-- <link rel="stylesheet" href="/style.css"> -->
  </head>
  <body>
    <h1>Taskette - 看版酱 ✨</h1>
    <table border="1">
      <tbody>
        <% @tasks.all.each do |row| %>
          <tr>
            <td><%= @sicon[row[:state]] %></td>
            <td><%= @stags[row[:state]] %></td>
            <td><%= row[:title] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
